:root {
    --footer-height: 60px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: var(--footer-height); /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height); /* Set the fixed height of the footer here */
    line-height: var(--footer-height); /* Vertically center the text there */
} /* did not use */

#search-box {
    max-width: 50%;
}

#user-dropdown {
    display: inline-block;
}

#user-pic {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

#ask-question {
    margin-right: 30px;
}

#user-menu {
    color: white;
    margin-right: 20px;
}

#aside-info {
    margin-top: 50px;
}

#aside-info ul {
    list-style-type: none;
    padding: 20px;
}

.tags-list {
    overflow: hidden;
}

.tags-list li {
    float: left;
    margin-right: 10px;
}

