{% extends "public/base.html" %}
{% load static %}
{% block content %}

    <div class="col-9 pr-5 mt-2">
        <div class="headings">
            <h2>Самые обсуждаемые вопросы</h2>
            <a href="#" style="accent-color: #adb5bd">Самые обсуждаемые</a>
        </div>

        {% for question in questions %}
            {% include "public/question_item.html" %}
        {% endfor %}

    </div>

    <aside id="aside-info" class="col-3">
        {% include 'public/right_menu.html' %}
    </aside>
    {% include 'public/paginator.html' %}

{% endblock %}
