{% extends "public/base.html" %}
{% load static %}
{% block content %}

    <div class="col-9 pr-5 mt-2">
        {% include "public/question_item.html" %}

        {% include "public/answer_item.html" %}

        <form>
            <div class="enter-answer form-group">
                <textarea class="form-control" id="answer" placeholder="Введите ваш ответ" required></textarea>
                <button class="btn btn-secondary mb-4" type="submit">Ответить</button>
            </div>
        </form>
    </div>

    <aside id="aside-info" class="col-3">
        {% include 'public/right_menu.html' %}
    </aside>
    {% include 'public/paginator.html' %}

{% endblock %}
