{% load static %}
<div class="answer-card container bg-light shadow-sm">
    <div class="row">
        <div class="col-2 left-side">
            <img src="{% static "img/mark_zuckerberg.jpg" %}" alt="Avatar" class="rounded">
            <button class="like__btn">
                <span id="icon"><i class="far fa-thumbs-up"></i></span>
                <span id="count">5,994</span> Like
            </button>
        </div>
        <div class="col-10 right-side">
            <p class="question-description">We need more public and less personal transport</p>
            <div class="form-check mark-correct">
                <input class="form-check-input" type="checkbox" id="correct-checkbox-2">
                <label class="form-check-label" for="correct-checkbox-2">
                    mark as solution
                </label>
            </div>
        </div>
    </div>
</div>
