{% load static %}
<h2>Популярные теги</h2>
<div class="bg-light shadow-sm" id="tags-container">
    <ul class="tags-list">
        <li><a href="{% url 'tag_question' %}">ЭСРЛП</a></li>
        <li><a href="{% url 'tag_question' %}">ВКР</a></li>
        <li><a href="{% url 'tag_question' %}">python framework Django</a></li>
        <li><a href="{% url 'tag_question' %}">Физика</a></li>
        <li><a href="{% url 'tag_question' %}">Психология</a></li>
    </ul>
</div>

<h2>Лучшие пользователи</h2>
<div class="bg-light shadow-sm" id="best-users-container">
    <ul>
        <li><a href="#">Metalcoreloli</a></li>
        <li><a href="#">Бурлаков Данила</a></li>
        <li><a href="#">Сушков Юрий</a></li>
        <li><a href="#">Оскарев Роман</a></li>
    </ul>
</div>
