{% load static %}
<h2>Popular Tags</h2>
<div class="bg-light shadow-sm" id="tags-container">
    <ul class="tags-list">
        <li><a href="{% url 'tag_question' %}">SpaceTechnology</a></li>
        <li><a href="{% url 'tag_question' %}">ComputerVision</a></li>
        <li><a href="{% url 'tag_question' %}">ML</a></li>
        <li><a href="{% url 'tag_question' %}">NLP</a></li>
        <li><a href="{% url 'tag_question' %}">Swift</a></li>
        <li><a href="{% url 'tag_question' %}">Apple</a></li>
        <li><a href="{% url 'tag_question' %}">Microsoft</a></li>
        <li><a href="{% url 'tag_question' %}">Google</a></li>
        <li><a href="{% url 'tag_question' %}">Algorithms</a></li>
    </ul>
</div>

<h2>Best Members</h2>
<div class="bg-light shadow-sm" id="best-users-container">
    <ul>
        <li><a href="#">Mark Zuckerberg</a></li>
        <li><a href="#">Ilon Musk</a></li>
        <li><a href="#">Alexey Shevchenko</a></li>
    </ul>
</div>
